@media only screen and (max-width: 480px) {
  .header {
    font-size: 1.5vh;
  }
  .subtitulo {
    font-size: 2.2vh;
  }
  .galery-img {
    margin: 2vh;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
  }
  .footer .footer__media li {
    margin: 5px;
  }
  .footer .footer__links li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 1.5vh;
  }
  .subtitulo {
    font-size: 2.2vh;
  }
  .galery-img {
    margin: 2vh;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    font-size: 2vh;
  }
  .subtitulo {
    font-size: 2h;
  }
  .galery-img {
    margin: 2vh;
  }
  .video {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 5px 15px;
}

.header a {
  text-decoration: none;
  color: #2477bf;
}

.header a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: #9bcaf2;
}

.subtitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1vh;
  color: #2477bf;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul li {
  display: block;
  margin: 0.5vh;
  padding: 10px;
}

.navbar ul li:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.navbar ul li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.navbar ul li .nav-link {
  color: #2477bf !important;
  text-decoration: none;
}

.contact-form-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "contact info info" "contact info info" "contact info info";
}

.contact-form {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: contact;
}

.contact-info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: info;
  background-color: #9bcaf2;
}

.moreinf {
  list-style: none;
}

.contenedor-form {
  padding: 1.5em;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid black;
}

.contact-form-container > * {
  padding: 1em;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form button {
  background: #9bcaf2;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #2477bf;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #9bcaf2;
}

.contact-info ul li {
  padding: 0.3em;
}

.contact-info .moreinf {
  list-style: none;
  padding: 0;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: left;
  margin: 15px;
}

.texto {
  margin: 1vh;
}

.galery-img {
  margin: auto 2vw 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.galery-img:hover:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.galery-img:hover:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.video {
  display: inline-block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  width: auto;
  margin: 2vw;
  padding: auto;
}

.video:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  bottom: 0;
  width: 100%;
  line-height: 3;
  text-align: center;
  width: 100%;
  margin-top: 100px;
  padding: 40px;
  background-color: #9bcaf2;
}

footer .footer__links li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 25px;
}

footer .footer__links li a {
  color: black;
  display: flexbox;
  padding: 10px;
  text-decoration: none;
}

footer .footer__links li a:hover {
  text-decoration: underline;
}

.footer__media {
  display: block;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: auto;
  margin: auto;
}

.footer__media .footer__media-1, .footer__media .footer__media-2 {
  list-style-type: none;
  display: inline-block;
}

.footer__media .footer__media-1:hover, .footer__media .footer__media-2:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.footer__media .footer__media-1:hover, .footer__media .footer__media-2:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.footer__media .footer__media-1 img, .footer__media .footer__media-2 img {
  width: 30px;
  height: 30px;
  margin: 1vw;
}

.footer__media .footer__copy {
  color: black;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: #2477bf;
}
/*# sourceMappingURL=estilo.css.map */