.contenedor-form{
  width: auto;
  margin: auto;
}
.contact-form-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contact info info"
    "contact info info"
    "contact info info" ;
}
.contact-form{
    grid-area: contact;
}
.contact-info{
    grid-area: info;
    background-color: $bg-claro;
}
.moreinf{
    list-style: none;
}
.contenedor-form {
    padding: 1.5em;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .contact-form form button,
  .contact-form form input,
  .contact-form form textarea {
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid black;
  }
  .contact-form-container > * {
    padding: 1em;
  }
  .contact-form form label {
    display: block;
  }
  .contact-form form p {
    margin: 0;
    padding: 1em;
  }
  .contact-form form button {
    background: $bg-claro;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
  }
  .contact-form form button:hover,
  .contact-form form button:focus {
    background: $bg-oscuro;
    transition: background-color 1s ease-out;
    outline: 0;
  }
  .contact-info {
    background: $bg-claro;
    height: 70vh;
    width: auto;
    ul{
        li{
            padding: 0.3em;
        }
    }
    .moreinf{
        list-style: none;
        padding: 0;
    }
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
    margin: 15px;
  }

  