.texto{
    margin: 1vh;
}
    .galery-img{
        margin: auto 2vw 2vh;
        align-items: center;
        justify-content: space-around;
        &:hover{
            @include hover;
            }
        }
.video{
    display: inline-block;
    justify-content: space-around;
    height: auto;
    width: auto;
    margin: 2vw;
    padding: auto; 
    &:hover{
            transition: transform 0.3s;
            transform: scale(1.1);
        }
    }
    .widget-1{
        display: flex;
        justify-content: center;
    }