@media only screen and (max-width: 480px) {
.header{
    font-size: 1.5vh;
}
.subtitulo{
    font-size: 2.2vh;
}
.galery-img{
    margin: 2vh;
}
.video{
    display: flex;
    justify-self: center;
}
.footer{
    .footer__media{
        li{
            margin: 5px;
        }
    }
    .footer__links{
        li{
            display: flex;
        }
        
    }
}
}
@media only screen and (max-width: 768px) {
    .header{
        font-size: 1.5vh;
    }
    .subtitulo{
        font-size: 2.2vh;
    }
    .galery-img{
        margin: 2vh;
        
    }
    .video{
        display: flex;
        justify-items: center;
    }
}
@media only screen and (max-width: 1024px) {
    .header{
        font-size: 2vh;
    }
    .subtitulo{
        font-size: 2h;
    }
    .galery-img{
        margin: 2vh;
        
    }
    .video{
        justify-content: center;
    }
}
